
/*----------------------------------------------------------------*/
/* Imagenes con bordes redondeados, con limites de tamaño           */
/*----------------------------------------------------------------*/
img {
    border-radius: 10%;
    border: 2px solid #3993DD;
    width: 380px;
    height:320px;
    
  }

/*
img:hover{
    width: auto;
    height: auto;
}  */



/*tamaño medio generico*/
@media only screen and (max-width: 1024px) {
    /*medio */
    .container {
        display: grid;
    
     
        grid-template: 74px 42px auto  40px/ 15% 85%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header header " "nav nav "  "contenido contenido " "pie pie";
    
        /* separamos los items con gap */
        gap: 6px;
    
        /* Hacemos que el diseño ocupe casi el alto total del navegador */
        height: auto;   
    }
    .contenido {  height: fit-content;}
