

/*----------------------------------------------------------------*/
/* Imagenes con bordes redondeados, con limites de tamaño           */
/*----------------------------------------------------------------*/
img {
    border-radius: 50%;
    width: 380px;
    height:280px;
    border: 2px solid #3993DD;
  }

