@keyframes anim {
    0%   {opacity: 0;}
    12.5%{opacity: 0.125;}
    25%  {opacity: 0.25;}
    37.5%{opacity: 0.375;}
    50%  {opacity: 0.50;}
    62.5%{opacity: 0.625;}
    75%  {opacity: 0.75;}
    87.5%{opacity: 0.875;}
    100% {opacity: 1;}
  }
  
  .imgAnim {
    
    width: 360px;
    height:300px;
    animation-name: anim;
    animation-duration: 3s;
  }

.boton{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50px%;
  height: 45px;
  color: black;
  background-color: #d3c7cb;
  border: 1px solid #3993DD;
  box-shadow: 0px 1px 2px 1px; 
}

.boton:hover{
  background-color: #F0E2E7;
}
.boton:active{
  box-shadow: 0px 0px 1px 0px;
}